fastapi
uvicorn[standard]
psycopg2-binary
alembic
sqlalchemy
python-dotenv
boto3
urllib3
python-multipart
pydantic[email]
email-validator
passlib[bcrypt]
python-jose[cryptography]
httpx
aiosmtplib
pillow
twilio
opencv-python-headless
